*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    /* background-color:aqua */
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */
}
header{
    background-color:#e66e19;
}